<section class="widget subscribe">
    <div class="widget-icon">
        {{ partial "helper/icon" "subscribe" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.subscribe.title" }}</h2>
    <div class="widget-subscribe">
        <a class="subscribe-label">
            {{ T "widget.subscribe.label" }} 
        </a>
        <a class="subscribe-link" href={{.Site.Params.widgets.subscribe.mailchimp}} title="🔥🔥🔥"> 
            {{"Subscribe now!"}}
        </a>
    </div>
</section>
