<!-- Social Share Button HTML -->
{{- if .Param "socialShare" }}
  {{ $title := .Title }}
  {{ $url := printf "%s" .Permalink }}
  {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}
  <div class="widget-icon">
    {{ partial "helper/icon" "share" }}
</div>
<h2 class="widget-title section-title">{{ T "article.share" }}</h2>
  <section class="social-share">
    <ul class="share-icons">
      <!-- Twitter -->
      {{ if .Site.Params.social.share.twitter }}
      <li>
        <a href="https://twitter.com/intent/tweet?hashtags=codingnconcepts&amp;url={{ .Permalink }}&amp;text={{ .Title }}" target="_blank" rel="noopener" title="Tweet me!" class="share-btn twitter">
          {{ partial "helper/icon" "twitter" (dict "class" "widget-social__link-icon") }}
          <p></p>
          </a>
      </li>
      {{ end }}

      <!-- Facebook -->
      {{ if .Site.Params.social.share.facebook }}
      <li>
        <a href="https://www.facebook.com/sharer.php?u={{ $url }}" target="_blank" rel="noopener" title="Share me on Facebook!" class="share-btn facebook">
          {{ partial "helper/icon" "facebook" (dict "class" "widget-social__link-icon") }}
          <p>Share me on Facebook!</p>
          </a>
      </li>
      {{ end }}

      <!-- LinkedIn -->
      {{ if .Site.Params.social.share.linkedin }}
      <li>
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $url }}&amp;source={{ $url }}&amp;title={{ $title }}&amp;summary={{ $title }}" target="_blank" rel="noopener" title="Share me on LinkedIn!" class="share-btn linkedin">
          {{ partial "helper/icon" "linkedin" (dict "class" "widget-social__link-icon") }}
            <p>Share me on LinkedIn!</p>
          </a>
      </li>
      {{ end }}

      <!-- Email -->
      {{ if .Site.Params.social.share.email }}
      <li>
        <a href="mailto:?subject={{ .Site.Title }} - {{ $title }}.&amp;body={{ $body }}" target="_blank" title="Send me via email!" class="share-btn email">
          {{ partial "helper/icon" "email" (dict "class" "widget-social__link-icon") }}
          <p>Send me via Email!</p>
        </a>
      </li>
    </ul>
  </section>
  {{ end }}
{{- end }}